$cor-primary: #ffc107; // Yellow for secondary actions
$cor-secondary: #ff7f27; // Orange for active elements
$cor-tertiary: #ff5722; // Deeper orange for emphasis

$cor-text: #333333; // Dark text on light backgrounds
$cor-text-dark: #ffffff; // Light text on dark backgrounds

$cor-background: #ffffff; // White background
$cor-background-light: #f9fafb; // Light gray background
$cor-background-secondary: #f5f5f5; // Secondary background

// Keep original danger/view colors
$danger-red: #dc3545; // Red for delete actions
$view-blue: #17a2b8; // Blue for view actions

$font-family: 'Roboto', sans-serif;

body{
    font-family: $font-family;
}

button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;

    &-primary {
        background-color: $cor-primary;
        color: $cor-text;
    }

    &-secondary {
        background-color: $cor-secondary;
        color: $cor-text;
    }

    &-tertiary {
        background-color: $cor-tertiary;
        color: $cor-text;
    }

    &-dark {
        background-color: $cor-background-secondary;
        color: $cor-text-dark;
    }
    &-light {
        background-color: $cor-background-light;
        color: $cor-text-dark;
    }
}

